<h1>Listing event_appointments</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Start</th>
      <th>End</th>
      <th>Notes</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @event_appointments.each do |event_appointment| %>
      <tr>
        <td><%= event_appointment.title %></td>
        <td><%= event_appointment.start %></td>
        <td><%= event_appointment.end %></td>
        <td><%= event_appointment.notes %></td>
        <td><%= link_to 'Show', event_appointment %></td>
        <td><%= link_to 'Edit', edit_event_appointment_path(event_appointment) %></td>
        <td><%= link_to 'Destroy', event_appointment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Event appointment', new_event_appointment_path %>
